.chat {
  margin: 0;
  height: 100%;
  font-family: "Hiragino Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,Arial, sans-serif;

  &-side {
    float: left;
    width: 300px;
    height: 100vh;
    background-color: #2f3e51;

    .chat-user {
       box-sizing: border-box;
       height: 100px;
       padding: 20px;
       color: $white;
       background-color: #253141;

     h5 {
       float: left;
       line-height: 60px;
       letter-spacing: 2px;
       font-size: 16px;
       font-color:#FFFFFF;
     }

     &__actions {
       float: right;

      & a {
        display: inline-block;;
        margin: 15px 0 15px 3px;
        line-height: 28px;
        color: $white;
        font-size: 20px;
     }
    }
   }
  }
}
.chat-groups {
  margin: 0;
  padding: 0;
  color: $white;
  list-style: none;

  .chat-group {
    box-sizing: border-box;
    display: list-item;

    &__link {
      display: block;
      color: $white;
      padding: 20px 20px;

      &__name {
        display: inline-block;
        font-size: 15px;
        }

      &__message {
        margin-top: 5px;
        font-size: 11px;
   }
  }
 }
}
.chat-main {
  float: left;
  position: relative;
  width: calc(100% - 300px);
  height: 700px;
}
.chat-header {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #fff;
  border-bottom:  1px solid #eee;
  height: 100px;

  &--left {
    float: left;

    h2 {
      margin-top: 20px;
      line-height: 50px;
      letter-spacing: 2px;
      color: #333;
      font-size: 20px;
      font-weight: 400;
      }

    .chat-header__users {
      line-height: 20px;
      color: #999;
      font-size: 12px;

      &__userss {
        margin-left: 3px;
        }

     &__users {
       line-height: 20px;
       color: #999;
       font-size: 12px;
        }
      }
    }

    &--right {
      float: right;

      &__edit-btn {
        display: inline-block;
        margin: 28px 0;
        padding-right:  20px;
        padding-left: 20px;
        line-height: 40px;
        color:  #38aef0;
        font-size: 14px;
        border: 2px solid;
   }
  }
}
.chat-body {
  position: relative;
  padding: 30px 0;
  height: calc(700px - 190px);
  overflow-y: scroll;
  color: $black;
  background-color: #AAAAAA;

  .chat-messages {
    position: absolute;
    right: 40px;
    left:40px;
    padding: 0;
    list-style: none;

    .chat-message {

      &__header {
        height: 20px;
        margin-bottom: 10px;

        &__name{
          float: left;
          font-weight: 500;
          color: #434A54;
          font-size: 16px;
          }

        &__time{
          float: left;
          margin-left: 10px;
          color: #999999;
          font-size: 12px;
          }
      }

      &_body {
        height: 20px;
        float: left;
        font-size: 14px;
        color:$black;
   }
  }
 }
}
.chat-footer {
  box-sizing: border-box;
  height: 90px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  background-color: #ddd;

  &__input {
    float: right;
    width: 100px;
    margin-left:15px;
    line-height: 50px;
    color: $white;
    background-color: #38aef0;
    text-align: center;
    border:none;
    padding: 0;
  }
}
.chat-footer__body {
  float: left;
  width: calc(100% - 115px);
  height: 50px;
  position: relative;
  background-color: $black;

    textarea {
      display: black;
      width: 100%;
      height: 50px;
      padding: 15px 10px;
      line-height: 20px;
      border: none;
      resize: none;
      box-sizing: border-box;
      font-size: 16px;
    }

    &__title {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: 40px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;

      input {
        display: none;
      }
      .fa-image {
        display: inline-block;
        font: normal;
        font-size: inherit;
   }
  }
 }
//定義
.clearfix {
  content: '';
  display: block;
  clear: both;
}
a {
  text-decoration: none;
}
